.button {
    box-sizing: border-box;
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 8px;
    height: 40px;
    border: 1px solid var(--color-darker-green);
    border-radius: 64px;
    flex: none;
    order: 0;
    align-self: stretch;
    aspect-ratio: 1 / 1;
}

.button:hover {
   background-color: #374F42;
   .icon{
   stroke: var(--color-white);
}
}

.icon{
   stroke: #374F42;
}



.bookmarked {
    border: transparent;
    background-color: var(--color-dark-green);
    color: var(--color-white);
}
.bookmarked svg{
    stroke:var(--color-white);
}