.button {
    box-sizing: border-box;
    background: transparent;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px;
    gap: 8px;
    cursor: pointer;
    height: 40px;
    border: 1px solid var(--color-darker-green);
    border-radius: 64px;
    flex: none;
    order: 0;
    align-self: stretch;
    aspect-ratio: 1 / 1;

}
.button svg{
     width: 24px;
     height: 24px;
     stroke: var(--color-green);
 }

.button:hover {
    color: black;
}

.default {
    color: #1f2937;
}

.default:hover {
    color: var(--color-white);
}

.bookmarked {
    border: transparent;
    background-color: var(--color-dark-green);
    color: var(--color-white);
}
.bookmarked svg{
    /* fill:red; */
    stroke:var(--color-white);
}