.page {
  margin: 48px auto;
}

.title {
  font-size: 32px;
  margin-bottom: 32px;
}

.img {
  max-width: 100%;
  object-fit: cover;
  border-radius: 24px;
  margin-bottom: 32px;
}

.text {
  max-width: 808px;
  margin-bottom: 24px;
}

.paragraph {
  margin-bottom: 16px;
  line-height: 1.6;
}

.articlesBlock {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.wrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 15px;
  border-radius: 32px;
  padding: 32px 16px 40px 16px;
  background-color: var(--color-light-green);
}

.name {
  text-decoration: underline;
}

.subTitle {
  font-weight: 700;
  font-size: 24px;
  margin: 15px auto;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.item {
  border-radius: 32px;
  padding: 16px;
  background-color: var(--color-white);
}

.titleWithIcon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 56px;
}

.link {
  font-weight: 700;
  text-decoration: none;
  color: var(--color-black);
  transition: background-color 0.3s ease;
}

.link:hover {
  color: var(--color-darker-green);
}

.linkIcon {
  width: 24px;
  height: 24px;
  transform: rotate(45deg);
}

.btnLink {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-black);
  border-radius: 50px;
  padding: 8px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btnLink:hover {
  background-color: var(--color-darker-green);
}

.saveBtn {
  border-radius: 64px;
  border: none;
  padding: 16px;
  min-width: 343px;
  min-height: 57px;
  background-color: var(--color-dark-green);
  font-weight: 700;
  font-size: 18px;
  cursor: pointer;
  color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.btnIcon {
  fill: none;
  stroke: var(--color-white);
}

@media only screen and (min-width: 768px) {
  .title {
    font-size: 40px;
  }
  .wrapper {
    padding: 32px 32px 40px 32px;
  }

  .item {
    min-width: 640px;
  }

  .saveBtn {
    min-width: 704px;
    transition: background-color 0.3s ease;
  }

  .saveBtn:hover {
    background-color: var(--color-darker-green);
  }
}

@media only screen and (min-width: 1440px) {
  .articles {
    display: flex;
    gap: 24px;
  }

  .text {
    margin-bottom: 0;
  }

  .wrapper {
    padding: 40px 32px;
  }

  .item {
    min-width: 329px;
  }

  .saveBtn {
    min-width: 393px;
  }
}
