.hero {
  position: relative;
  margin-top: 48px;
  min-height: 570px;
  overflow: hidden;
}

.imageOverlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 806px;
  height: 562px;
  background-image: url('/images/img-desc.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 0;
  pointer-events: none;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .imageOverlay {
    background-image: url('/images/img-desc@2x.png');
  }
}

.content {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 56px;
  max-width: 599px;
  width: 100%;
}

.title {
  font-family: 'Manrope', sans-serif;
  font-size: 92px;
  font-weight: 800;
  line-height: 100%;
  letter-spacing: -1.84px;
  color: #374f42;
}

.harmony {
  font-family: 'Merienda', cursive;
  font-weight: 800;
  font-size: 92px;
  letter-spacing: -1.84px;
  color: #374f42;
}

.buttons {
  display: flex;
  width: 392px;
  gap: 24px;
  align-items: flex-start;
}

.filledBtn,
.outlineBtn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  border-radius: 64px;
  font-family: 'Manrope', sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
  transition: all 0.3s ease;
  height: 57px;
  width: 184px;
  white-space: nowrap;
}

.filledBtn {
  background-color: var(--Green, #649179);
  color: #f7fffb;
  border: none;
}

.filledBtn:hover {
  background-color: #374f42;
}

.filledBtn:focus {
  background: #649179;
  box-shadow: 0 0 0 2px #fff, 0 0 0 6px rgba(78, 70, 180, 0.12);
}

.outlineBtn {
  background-color: transparent;
  border: 1px solid var(--Green-Darker, #374f42);
}

.outlineBtn:hover {
  border: 1px solid var(--White, #f7fffb);
  background: #f7fffb;
}

.outlineBtn:focus {
  border: 1px solid var(--White, #f7fffb);
  background: var(--White, #f7fffb);
  box-shadow: 0 0 0 2px #fff, 0 0 0 6px rgba(78, 70, 180, 0.12);
}
/* ******* TABLET ***********/

@media (min-width: 768px) and (max-width: 1439px) {
  .hero {
    min-height: 427px;
    margin-top: 22px;
    margin-bottom: 22px;
  }

  .imageOverlay {
    width: 430px;
    height: 383px;
    background-image: url('/images/img-tab.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
    z-index: 0;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 434px;
    height: 383px;
  }

  .title {
    width: 362px;
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
  }

  .harmony {
    font-weight: 700;
    font-size: 40px;
    line-height: normal;
    letter-spacing: -1.84px;
  }

  .buttons {
    flex-direction: column;
    width: 249px;
    gap: 24px;
  }

  .filledBtn,
  .outlineBtn {
    height: 57px;
    width: 249px;
  }
}

@media (max-width: 1439px) and (-webkit-min-device-pixel-ratio: 2),
  (max-width: 1439px) and (min-resolution: 192dpi) {
  .imageOverlay {
    background-image: url('/images/img-tab@2x.png');
  }
}

/* ---------- MOBILE ---------- */
@media (max-width: 767px) {
  .hero {
    height: 633px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-top: 16px;
  }

  .imageOverlay {
    position: relative;
    width: 361px;
    height: 321px;
    background-image: url('/images/img-mob.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: 0;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 361px;
    height: 280px;
  }

  .title {
    width: auto;
    height: 112px;
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
  }

  .harmony {
    font-weight: 700;
    font-size: 40px;
    line-height: normal;
  }

  .buttons {
    flex-direction: column;
    align-items: flex-start;
    width: auto;
    gap: 24px;
  }

  .filledBtn,
  .outlineBtn {
    height: 57px;
    width: 361px;
  }
}

@media (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2),
  (max-width: 767px) and (min-resolution: 192dpi) {
  .imageOverlay {
    background-image: url('/images/img-mob@2x.png');
  }
}

@media (max-width: 392px) {
  .imageOverlay,
  .content {
    background-size: contain;
    width: 100%;
  }
}
