.formFileContainer {
  display: flex;
  gap: 24px;
}

.formContainer {
  display: flex;
  flex-direction: column;
  width: 809px;
}

.input {
  font-size: 18px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid #9F9F9F;
  padding: 12px;
  margin-bottom: 32px;
  color: #595D62;
}

.txtarea {
  font-size: 18px;
  height: 393px;
  border-radius: 8px;
  border: 1px solid #9F9F9F;
  padding: 12px;
  margin-bottom: 32px;
  color: #595D62;
  resize: none;
}
.txtarea::placeholder,
.input::placeholder{
  color: #595D62 ;
}

.photoBtn {
  position: relative;
  overflow: hidden;
  height: 280px;
  width: 391px;
  background-color: #9F9F9F;
  border: none;
  border-radius: 16px;
}

.previewUrl{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.inputFile {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  cursor: pointer;
}

.createBtn {
  background-color: #649179;
  color: #F7FFFB;
  font-size: 16px;
  padding: 12px;
  border: none;
  border-radius: 64px;
}

.createBtn:hover {
  background-color: #374F42;
}

.createBtn:focus {
  border: 1.5px solid #F7FFFB;
}

.error {
  color: #AD6A6C;
  font-size: 12px; 
}

.errorField {
  border: 1.5px solid #AD6A6C;
  color: #AD6A6C;
}