@media only screen and (min-width: 393px) {
  .container{
    width: 361px;
  }
 .photoBtn {
   width: 100%;
   position: relative;
   overflow: hidden;
   height: 233px;
   background-color: #9F9F9F;
   border: none;
   border-radius: 16px;
   margin-bottom: 24px;
 }

 .previewUrl {
   width: 100%;
   height: 100%;
   object-fit: cover;
   border-radius: 8px;
 }

 .inputFile {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   opacity: 0;
   cursor: pointer;
 }

  .title {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    margin-bottom: 8px;
  }

  .input {
  font-size: 18px;
  height: 48px;
  border-radius: 8px;
  border: 1px solid #9F9F9F;
  padding: 12px;
  margin-bottom: 24px;
  color: #595D62;
}

  .txtarea {
  width: 100%;
  font-size: 18px;
  height: 393px;
  border-radius: 8px;
  border: 1px solid #9F9F9F;
  padding: 12px;
  margin-bottom: 24px;
  color: #595D62;
  resize: none;
}
.txtarea::placeholder,
.input::placeholder{
  color: #595D62 ;
}

.createBtn {
  width: 100%;
  background-color: #649179;
  color: #F7FFFB;
  font-size: 16px;
  padding: 12px;
  border: none;
  border-radius: 64px;
}

.createBtn:hover {
  background-color: #374F42;
}

.createBtn:focus {
  border: 1.5px solid #F7FFFB;
}

.error {
  color: #AD6A6C;
  font-size: 12px; 
}

.errorField {
  border: 1.5px solid #AD6A6C;
  color: #AD6A6C;
}

}

@media only screen and (min-width: 768px) {


}