.mainContainer{
  display: flex;
  justify-content: center;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #D1E0D8;
  border-radius: 32px;
  padding: 48px 32px;
}

.title{
  font-weight: 700;
  font-size: 32px;
  padding-bottom: 20px;
}

.subTitle{
  font-size: 16px;
  width: 278px;
  text-align: center;
  padding-bottom: 20px;
}

.txt{
  font-size: 16px;
}

.loginLink{
  font-size: 16px;
  color: #070721;
  font-weight: bold;
}

@media only screen and (min-width: 393px) {
  .mainContainer {
    padding: 85px 0;
  }
  .container {
    width: 360px;
  }
}

@media only screen and (min-width: 768px) {
  .mainContainer {
    padding: 120px 0;
  }
  .container {
    width: 522px;
  }
}

@media only screen and (min-width: 1440px) {
  .mainContainer {
    padding: 50px 0;
  }

  .container {
    width: 392px;
  }
}