.container {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 12px;
    background: var(--color-light-green);
    border-radius: 32px;
    width: 100%;
    height: 299px;
}

.icon {
    width: 50px;
    height: 50px;
    padding-left: 13px;
    padding-top: 13px;
    margin-bottom: 29px;
}

.title {
    font-weight: 700;
    font-size: 24px;
    color: #070721;
    margin-bottom: 16px;
}

.description {
    font-size: 16px;
    margin-bottom: 83px;
}

.createButton {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    width: 100%;
    border: 1px solid var(--color-darker-green);
    border-radius: 64px;
    background-color: transparent;
}

.createButton:hover {
    background: #557966;
    color: var(--color-white);
}

@media only screen and (min-width: 393px) {
 .container{
  width: 358px;
 }
}

@media only screen and (min-width: 768px) {
  .container{
    width: 514px;
 }
}

@media only screen and (min-width: 1440px) {
  .container{
    width: 497px;
 }
}