.profileWrapper {
  padding: 46px 0;
}
.title {
  font-size: 40px;
  margin-bottom: 24px;
}
.profileHeader {
  display: flex;
  flex-direction: row;
  gap: 16px;
  margin-bottom: 24px;
  align-items: center;
}
.avatar {
  width: 137px;
  height: 137px;
  border-radius: 50%;
  object-fit: cover;
}
.name {
  font-size: 32px;
  font-weight: 700;
}
.articlesCount {
  font-size: 18px;
  color: #000000;
  font-weight: 700;
}

.loadMoreWrapper {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 2rem;
}

.loadMore {
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 16px;
  width: 100%;
  height: 57px;
  background: var(--color-dark-green);
  border-radius: 64px;
  color: white;
  flex: none;
  order: 1;
  font-size: 18px;
  font-weight: 700;
  flex-grow: 0;
  cursor: pointer;

  @media screen and (min-width: 393px) {
    width: 361px;
  }

  @media screen and (min-width: 768px) {
    width: 390px;
  }
}

.loadMore:hover {
  background-color: var(--color-green);
}

.loadMore:disabled {
  background-color: #9ca3af;
  cursor: not-allowed;
}
