.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(17, 17, 17, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #d1e0d8;
  padding: 56px 32px 32px 32px;
  border-radius: 32px;
  width: 100%;
  max-width: 420px;
  text-align: center;
  position: relative;
  gap: 20px;
}

.title {
  color: #070721;
  text-align: center;
  font-family: 'Manrope', sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: normal;
}

.message {
  color: #070721;
  text-align: center;
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24.8px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 27px;
  align-self: stretch;
}

.logoutBtn,
.cancelBtn {
  flex: 1;
  font-family: 'Manrope', sans-serif;
  font-size: 16px;
  padding: 12px 16px;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  line-height: normal;
  border-radius: 64px;
  border: none;
  cursor: pointer;
}

.logoutBtn {
  background-color: #649179;
  color: #f7fffb;
}

.logoutBtn:hover {
  background-color: #374f42;
}

.logoutBtn:focus {
  background: #649179;
  box-shadow: 0 0 0 2px #fff, 0 0 0 6px rgba(78, 70, 180, 0.12);
}

.cancelBtn {
  background-color: transparent;
  border: 1px solid #070721;
  color: #070721;
}

.cancelBtn:hover {
  border: 1px solid var(--White, #f7fffb);
  background: #f7fffb;
}

.outlineBtn:focus {
  border: 1px solid var(--White, #f7fffb);
  background: var(--White, #f7fffb);
  box-shadow: 0 0 0 2px #fff, 0 0 0 6px rgba(78, 70, 180, 0.12);
}

.close {
  position: absolute;
  top: 16px;
  right: 32px;
  background: none;
  border: none;
  cursor: pointer;
}
