.containerUploadPhoto{
    display: flex;
    align-items: center;
    justify-content: center;

    height: calc(100vh - 74px - 94px);
}

.boxUploadPhoto{
    background-color: rgba(209, 224, 216, 1);

    width: 392px;
    height: 354px;
    border-radius: 32px;

    padding: 16px;

    position: relative;
}

.boxIconCloseUploadPhoto{
    position: absolute;
    right: 16px;
}

.iconCloseUploadPhoto{
    display: flex;
    align-items: center;
    justify-content: center;
    
    position: relative;

    width: 18px;
    height: 18px;

    cursor: pointer;
}

.iconCloseUploadPhoto::after,
.iconCloseUploadPhoto::before{
    content: '';
    position: absolute;

    width: 100%;
    height: 1px;

    background: black;
    border-radius: 1px;
}

.boxIconCloseUploadPhoto:hover .iconCloseUploadPhoto::after,
.boxIconCloseUploadPhoto:hover .iconCloseUploadPhoto::before{
    box-shadow: 0px 0px 0.5px 0.5px rgba(0, 0, 0, 0.1);
}

.iconCloseUploadPhoto::after{
    transform: rotate(-45deg);
}

.iconCloseUploadPhoto::before{
    transform: rotate(45deg);
}