.header {
  background-color: var(--color-light-green);
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 0px;
}

.rightBlock {
  display: flex;
  align-items: center;
  gap: 32px;
}

.nav {
  display: flex;
}

.burger {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}
/*************** TABLET *****************/
@media (min-width: 768px) and (max-width: 1199px) {
  .nav {
    display: none;
  }

  .auth {
    display: none;
  }

  .burger {
    display: inline-flex;
  }

  .rightBlock {
    gap: 16px;
  }
}

/* *********** MOBILE ***********/

@media (min-width: 393px) and (max-width: 767px) {
  .nav {
    display: none;
  }

  .burger {
    display: inline-flex;
  }
}
