.header {
  background-color: var(--color-light-green);
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 0px;
}

.rightBlock {
  display: flex;
  align-items: center;
  gap: 16px;
}

.nav {
  display: flex;
}

.burger {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

/*************** TABLET *****************/

@media (min-width: 768px) and (max-width: 1439px) {
  .burger {
    display: inline-flex;
  }

  .auth {
    display: none;
  }
}

/* *********** MOBILE ***********/

@media (max-width: 767px) {
  .burger {
    display: inline-flex;
  }
}
