.header {
  margin-bottom: 16px;
  background-color: var(--color-light-green);
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 0px;
}

.rightBlock {
  display: flex;
  align-items: center;
  gap: 32px;
}
