.link {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  color: #374f42;
}

.link:hover {
  color: #4a756a;
}

.join {
  display: inline-flex;
  background: #649179;
  color: white;
  border-radius: 64px;
  padding: 4px 8px;
  transition: background-color 0.3s ease;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  text-decoration: none;
}

.join:hover {
  background: var(--Green-Darker, #374f42);
  color: var(--White, #f7fffb);
}

.joinNow:focus {
  background: var(--Green, #649179);
  box-shadow: 0 0 0 2px #fff, 0 0 0 6px rgba(78, 70, 180, 0.12);
  /* outline: none; */
  color: var(--White, #f7fffb);
}
