.mainContainer{
  display: flex;
  justify-content: center;
  padding: 172px 0px 152px;
}
.container{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 392px;
  background-color: #D1E0D8;
  border-radius: 32px;
  padding: 48px 32px;
}

.title{
  font-size: 32px;
  padding-bottom: 20px;
}

.txt{
  font-size: 16px;
}

.regLink{
  font-size: 16px;
  color: #070721;
  font-weight: bold;
}

@media only screen and (min-width: 393px) {
  .mainContainer{
    padding: 85px 0;
  }
  .container{
    width: 330px;
  }
}

@media only screen and (min-width: 768px) {
  .mainContainer {
    padding: 232px 0;
  }
  .container {
    width: 522px;
  }
}