.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 48px 0;
}

.title {
  font-family: var(--font-noto-sans);
  font-weight: 700;
  font-size: 20px;
  color: var(--color-black);
}

.loadMore {
  display: flex;
  border-radius: 64px;
  border: none;
  width: clamp(220px, 8vw, 280px);
  height: clamp(36px, 10vw, 48px);
  color: #fff;
  background: var(--color-dark-green);
  cursor: pointer;
  font-family: var(--font-noto-sans);
  font-weight: 700;
  font-size: 14px;
  color: var(--color-white);
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.loadMore:hover {
  background: var(--color-darker-green);
}
.loadMore:focus {
  background: var(--color-dark-green);
  box-shadow: 0 0 0 6px rgba(78, 70, 180, 0.12), 0 0 0 2px #fff;
}
.loadMore.disabled {
  background: var(--color-dark-green);
  cursor: not-allowed;
  box-shadow: 0 0 0 6px rgba(78, 70, 180, 0.12), 0 0 0 2px #fff;
  opacity: 0.3;
}
.loading {
  text-align: center;
  color: var(--color-gray);
  margin-top: 1rem;
}

@media (min-width: 768px) {
  .title {
    font-size: 30px;
  }
  .loadMore {
    width: clamp(280px, 30vw, 350px);
    height: clamp(40px, 12vw, 48px);
    padding: 12px;
    font-size: 16px;
    margin: 1rem auto;
  }
}

@media (min-width: 1440px) {
  .title {
    font-size: 40px;
  }
  .loadMore {
    width: clamp(300px, 30vw, 370px);
    height: clamp(50px, 14vw, 48px);
    padding: 14px;
    font-size: 18px;
  }
}

.error {
  color: red;
  text-align: center;
  margin: 1rem 0;
}
