.popular-articles-section {
  margin: 72px 0;
  background-color: var(--color-white);
  font-family: var(--font-manrope);
  max-width: 1224px;
  margin-left: auto;
  margin-right: auto;
}

.section-header {
  margin-bottom: 16px;
}

.section-title {
  font-size: 32px;
  font-weight: 700;
  color: var(--color-black);
}

.all-articles-link {
  display: flex;
  align-items: center;
  gap: 12px;
  font-size: 16px;
  font-weight: 700;
  color: var(--color-darker-green);
  text-decoration: none;
  transition: color 0.3s ease;
}

.all-articles-link:hover {
  color: #2563eb;
}

.arrow-icon {
  width: 24px;
  height: 24px;
  transform: rotate(45deg);
}

.articles-list-wrapper :global(.ArticlesList_list) {
  grid-template-columns: 1fr;
  gap: 24px;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .articles-list-wrapper :global(.ArticlesList_list) {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1440px) {
  .section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .section-title {
    font-size: 40px;
  }

  .articles-list-wrapper :global(.ArticlesList_list) {
    grid-template-columns: repeat(3, 1fr) !important;
  }
}
