.container {
  margin: 0 auto;
  padding: 2rem 1rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.count {
  font-weight: 700;
  font-size: 18px;
  color: #070721;
}

.filters {
  display: flex;
  align-items: center;
}

.loadMoreWrapper {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 2rem;
}

.loadMore {
  border: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px;
  gap: 16px;
  width: 390px;
  height: 57px;
  background: var(--color-dark-green);
  border-radius: 64px;
  color: white;
  flex: none;
  order: 1;
  font-size: 18px;
  font-weight: 700;
  flex-grow: 0;
  cursor: pointer;

}

.loadMore:hover {
  background-color: var(--color-green);
}

.loadMore:disabled {
  background-color: #9ca3af;
  cursor: not-allowed;
}