.list {
  display: grid;
  gap: 24px; 
  width: 100%;
}

@media only screen and (min-width: 393px) {
 .list{
    width: 361px;
    grid-template-columns: 1fr;
  }
}

@media only screen and (min-width: 768px) {
  .list{
    width: 704px;
    grid-template-columns: repeat(2, 1fr); 
  }
}

@media only screen and (min-width: 1440px) {
  .list{
    width: 1224px;
    grid-template-columns: repeat(3, 1fr); 
  }
}
