:root {
  --color-black: #070721;
  --color-green: #374f42;
  --color-light-green: #d1e0d8;
  --color-dark-green: #649179;
  --color-darker-green: #374f42;
  --color-white: #f7fffb;
  --color-gray: #595d62;

  --font-noto-sans: 'Noto Sans', sans-serif;
  --font-merienda: 'Merienda', cursive;
  --font-manrope: 'Manrope', sans-serif;
  --font-dm-sans: 'DM Sans', sans-serif;

  font-family: var(--font-manrope);
  line-height: 1.5;
  font-weight: 400;
}

body {
  color: var(--color-black);
  background-color: var(--color-white);
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}
