.list {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  padding: 20px;
  list-style: none;
  margin: 0;
  justify-content: space-between;
}

.list li {
  flex: 0 1 calc(50% - 2px);
  box-sizing: border-box;
}
.loader {
  margin: 16px 0;
}
.placeholder {
  text-align: center;
  font-size: 16px;
  color: var(--color-gray);
  margin: 16px 0;
  width: 100%;
}

@media (max-width: 392px) {
  .list {
    gap: 10px;
    padding: 26px;
  }

  .list li {
    flex: 0 1 calc(100% - 6px);
  }
}

@media (min-width: 768px) {
  .list {
    gap: 10px;
    padding: 26px;
  }

  .list li {
    flex: 0 1 calc(50% - 6px);
  }

  .placeholder {
    font-size: 18px;
    margin: 20px 0;
  }
}

@media (min-width: 1440px) {
  .list {
    gap: 14px;
    padding: 20px;
  }

  .list li {
    flex: 0 1 calc(25% - 15px);
  }

  .placeholder {
    font-size: 20px;
    margin: 24px 0;
  }
}
