.wrapper {
  display: flex;
  align-items: center;
  gap: 16px;
}

.userInfo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.avatar {
  display: flex;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  border-radius: 256px;
  gap: 4px;
  object-fit: cover;
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

.avatarPlaceholder {
  display: flex;
  width: 32px;
  height: 32px;
  justify-content: center;
  align-items: center;
  border-radius: 256px;
  background-color: lightgray;
  color: #374f42;
  font-weight: 700;
  font-size: 18px;
}

.username {
  font-family: 'Manrope', sans-serif;
  font-style: 12px;
  line-height: normal;
  font-weight: 700;
  color: #374f42;
}

.divider {
  width: 1px;
  height: 39px;
  background-color: #374f42;
  margin: 0 16px;
}

.logoutBtn {
  background: none;
  border: none;
  cursor: pointer;
}

.modalBackdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3000;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);

  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  position: relative;
  background: white;
  padding: 32px;
  border-radius: 16px;
  max-width: 500px;
  width: 90%;
}

.closeUpload {
  position: absolute;
  top: 12px;
  right: 12px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #374f42;
}

@media (min-width: 768px) and (max-width: 1439px) {
  .userInfo,
  .divider,
  .logoutBtn {
    display: none;
  }

  .modal .userInfo,
  .modal .divider,
  .modal .logoutBtn {
    display: flex !important;
  }

  .modal .wrapper {
    justify-content: center;
  }
}

/* .createBtn,
  .userInfo,
  .divider,
  .logoutBtn {
    display: none;
  }

  .modal .userInfo,
  .modal .divider,
  .modal .logoutBtn {
    display: flex !important;
    align-items: center;
  }

  .modal.wrapper {
    justify-content: center;
  } */

@media (max-width: 767px) {
  .wrapper:not(.modal) .userInfo,
  .wrapper:not(.modal) .divider,
  .wrapper:not(.modal) .logoutBtn {
    display: none;
  }
}
